* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    background: #fff;
    font-family: "Lato", sans-serif;
}

/* nav */

.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(204, 201, 198);
    z-index: 1;
    border-bottom: 1px solid rgb(107, 106, 106);
}

.logo {
    width: 70px;
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -5px;
    background: #7173ec;
    padding: 0 5px;
    border-radius: 30%;
    color: #fff;
}

/* Banner */

.banner-main {
    min-height: calc(100vh - 80px);
    background: url("image/dev-banner.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 5rem;
}

.banner-title {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    background: #9899ec;
    color: #fff;
    border: 1px solid #7173ec;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.banner-btn:hover {
    background: transparent;
    color: #fff;
    background-color: #5b5dfa;
    
}

/* produtos */

.products {
    padding: 4rem 0;
}
  
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: #7173ec;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: #fff;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;
}
.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: 0.1rem;
    color: #7173ec;
    text-align: center;
}

/* carrinho */

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: rgba(81, 182, 240, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(221, 224, 231);
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

/*---------- carrinho Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: #7173ec;
    cursor: pointer;
}

.cart-footer {
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* devs */

.devs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.devs .devs-col {
    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .devs .devs-col {
        grid-template-columns: 1fr;
        gap: 30px;
    }

}


.devs .title h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
}

.devs .description .dev-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #d8d8d8;
}

.devs .description .dados {
    text-align: center;
    margin-top: 15px;
    color: rgb(95, 95, 95);
    font-style: italic
}